.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.w-45 {
  width: 45% !important;
}

.w-85 {
  width: 85% !important;
}

.w-93px {
  width: 93px;
}

.w-79px {
  width: 79px;
}

.w-110px {
  width: 110px;
}

.w-106px {
  width: 106px;
}

.h-35px {
  height: 35px;
}
