$green: #5cb85c !default;
$red: #d9534f !default;
$blue-100: #00bcd4 !default;
$blue: #2196f3 !default;
$gray: #e0e0e0 !default;
$gray-100: #bdbdbd !default;
$black: #000000 !default;
$white: #ffffff !default;
