@import "/src/styles/variables";

.check-box {
  min-width: 20px;
  width: 20px;
  height: 20px;
  border: 1px solid $black;
  border-radius: 0px;
}

.task {
  border: 1px solid $black;
  align-items: center;
}

.update-task {
  border: 1px solid $black;
}

.title-task {
  word-break: break-all;
}
